--- 
title: "التحقق من صحة التوظيف باستخدام نموذج I-9"
description: "يطالب قانون إصلاح ومراقبة الهجرة من أرباب العمل في الولايات المتحدة التحقق من حالة أهلية التوظيف للموظفين الذين تم تعيينهم حديثًا."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations, Talent
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: a05fec7b79003d5b98470d85644d70bd1dbac285
ms.openlocfilehash: d26a382cc43bb47f576cf5dcf67820317ec207b4
ms.contentlocale: ar-sa
ms.lasthandoff: 02/06/2018

---
# <a name="employment-verification-using-form-i-9"></a><span data-ttu-id="b57e6-103">التحقق من صحة التوظيف باستخدام نموذج I-9</span><span class="sxs-lookup"><span data-stu-id="b57e6-103">Employment verification using form I-9</span></span>

[!include[task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="b57e6-104">يطالب قانون إصلاح ومراقبة الهجرة من أرباب العمل في الولايات المتحدة التحقق من حالة أهلية التوظيف للموظفين الذين تم تعيينهم حديثًا.</span><span class="sxs-lookup"><span data-stu-id="b57e6-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="b57e6-105">سيرشدك هذا الإجراء عبر خطوات تسجيل الوثائق اللازمة للتحقق من نموذج I-9.</span><span class="sxs-lookup"><span data-stu-id="b57e6-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="b57e6-106">استخدم الشركة USMF لهذا الإجراء.</span><span class="sxs-lookup"><span data-stu-id="b57e6-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="b57e6-107">انتقل إلى الموارد البشرية > العاملون > الموظفون.</span><span class="sxs-lookup"><span data-stu-id="b57e6-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="b57e6-108">استخدم عامل التصفية السريع للبحث عن السجلات.</span><span class="sxs-lookup"><span data-stu-id="b57e6-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="b57e6-109">على سبيل المثال، قم بإجراء التصفية على حقل الاسم بقيمة 'فينس'.</span><span class="sxs-lookup"><span data-stu-id="b57e6-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="b57e6-110">حدد الموظف.</span><span class="sxs-lookup"><span data-stu-id="b57e6-110">Select the employee.</span></span> <span data-ttu-id="b57e6-111">على سبيل المثال: فينس برادو</span><span class="sxs-lookup"><span data-stu-id="b57e6-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="b57e6-112">وسّع علامة التبويب السريعة "المعلومات الشخصية".</span><span class="sxs-lookup"><span data-stu-id="b57e6-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="b57e6-113">انقر فوق "أرقام التعريف".</span><span class="sxs-lookup"><span data-stu-id="b57e6-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="b57e6-114">انقر فوق جديد.</span><span class="sxs-lookup"><span data-stu-id="b57e6-114">Click New.</span></span>
7. <span data-ttu-id="b57e6-115">حدد نوع التعريف الذي تقوم بتسجيله.</span><span class="sxs-lookup"><span data-stu-id="b57e6-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="b57e6-116">على سبيل المثال: جواز السفر</span><span class="sxs-lookup"><span data-stu-id="b57e6-116">Example: Passport</span></span>
8. <span data-ttu-id="b57e6-117">في الحقل "الرقم"، اكتب قيمة.</span><span class="sxs-lookup"><span data-stu-id="b57e6-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="b57e6-118">حدد "نعم" في الحقل "الأساسي".</span><span class="sxs-lookup"><span data-stu-id="b57e6-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="b57e6-119">في الحقل "الوصف"، أدخل وصفًا مختصرًا لسجل التعريف.</span><span class="sxs-lookup"><span data-stu-id="b57e6-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="b57e6-120">في وكالة الإصدار، حدد الوكالة التي أصدرت نموذج هوية العامل.</span><span class="sxs-lookup"><span data-stu-id="b57e6-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="b57e6-121">على سبيل المثال: الحكومة</span><span class="sxs-lookup"><span data-stu-id="b57e6-121">Example: Government</span></span>
12. <span data-ttu-id="b57e6-122">أدخل تاريخ قيام الوكالة بإصدار نموذج هوية العامل.</span><span class="sxs-lookup"><span data-stu-id="b57e6-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="b57e6-123">على سبيل المثال: 02/15/2011</span><span class="sxs-lookup"><span data-stu-id="b57e6-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="b57e6-124">أدخل تاريخ انتهاء صلاحية نموذج الهوية.</span><span class="sxs-lookup"><span data-stu-id="b57e6-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="b57e6-125">على سبيل المثال: 2/15/2021</span><span class="sxs-lookup"><span data-stu-id="b57e6-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="b57e6-126">انقر فوق "حفظ".</span><span class="sxs-lookup"><span data-stu-id="b57e6-126">Click Save.</span></span>
15. <span data-ttu-id="b57e6-127">قم بإغلاق الصفحة.</span><span class="sxs-lookup"><span data-stu-id="b57e6-127">Close the page.</span></span>
16. <span data-ttu-id="b57e6-128">انقر فوق علامة التبويب "التوظيف‬‬".</span><span class="sxs-lookup"><span data-stu-id="b57e6-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="b57e6-129">انقر فوق "I-9".</span><span class="sxs-lookup"><span data-stu-id="b57e6-129">Click I-9.</span></span>
18. <span data-ttu-id="b57e6-130">انقر فوق "جديد".</span><span class="sxs-lookup"><span data-stu-id="b57e6-130">Click New.</span></span>
19. <span data-ttu-id="b57e6-131">في الحقل "أهلية العمل‬"، حدد خيارًا.</span><span class="sxs-lookup"><span data-stu-id="b57e6-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="b57e6-132">إذا لم يكن الموظف أحد مواطني أو قاطني الولايات المتحدة، فعليك إدخال رقم إقامة العامل أو إذن الدخول الذي حصل عليه.</span><span class="sxs-lookup"><span data-stu-id="b57e6-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="b57e6-133">حدد الخيار GroupListA.</span><span class="sxs-lookup"><span data-stu-id="b57e6-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="b57e6-134">تتوقف قائمة التي تحددها على نوع الهوية التي وفرها العامل.</span><span class="sxs-lookup"><span data-stu-id="b57e6-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="b57e6-135">يجب على العامل توفير مستند من القائمة أ أو مستند من القائمة ب وج.</span><span class="sxs-lookup"><span data-stu-id="b57e6-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="b57e6-136">على سبيل المثال، إذا قام العامل بتوفير جواز سفر، فيمكن في هذه الحالة تحديد القائمة أ. ولكن إذا قدم العامل رخصة القيادة وبطاقة التأمين الاجتماعي فقط، فيجب في هذه الحالة تحديد القائمة ب وج.</span><span class="sxs-lookup"><span data-stu-id="b57e6-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="b57e6-137">في الحقل "نوع المستند I-9"، حدد نوع المستند الذي قدمه العامل.</span><span class="sxs-lookup"><span data-stu-id="b57e6-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="b57e6-138">في حقل "رقم المستند"، أدخل قيمة أو حددها.</span><span class="sxs-lookup"><span data-stu-id="b57e6-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="b57e6-139">انقر فوق "حفظ".</span><span class="sxs-lookup"><span data-stu-id="b57e6-139">Click Save.</span></span>


